* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 600px;
  border-radius: 10px;
}
.container1 {
  background-color: white;
  width: 300px;
  height: 600px;
  /* align-items: flex-start; */
  margin: 0 auto;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  cursor: pointer;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.welcome h4 {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.welcome p {
  max-width: 250px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.welcome .btn {
  background: #50b2b2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px 0 15px 0;
  position: relative;
  top: 200px;
}
.btn:hover {
  opacity: 0.7;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
.task p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.task .Backward_arrow {
  margin: 10px 5px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.items{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.items input {
  width: 250px;
  height: 40px;
  margin: 10px auto;
  border-radius: 20px;
  border: 1px solid #50b2b2;
  text-align: center;
  font-size: 15px;

}
input::placeholder {
  color: #787676;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.items .add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}
.items img:hover {
  opacity: 1;
}
.items button {
  background: #50b2b2;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  margin: 10px auto;
}
.popup {
  width: 130px;
  color: black;
  padding: 10px;
  text-align: center;
  display: inline-block;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 130px;
}

.popup li {
  list-style-type: none;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 10px 0;
  font-size: 15px;
  cursor: pointer;
}
.item {
  width: 90%;
  height: 30px;
  margin: 15px auto;
  background: #a5e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}
.item p {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 12px;
}
.item img {
  opacity: 0.5;
}
.action {
  display: flex;
  justify-content: space-between;
}
.action img {
  background: white;
  padding: 10px 5px;
  display: flex;
  margin-left: 5px;
}
.savemodal {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  border-bottom: 2px solid red;
}
.savemodal .input {
  border: none;
  outline: none;
  text-align: left;
  width: 150px;
  height: 30px;
  margin: 0;
  position: relative;
  left: 0;
  border-radius: 0;
}
.savemodal .input::placeholder {
  text-align: left;
}
.savemodal .input:active{
  border: none;
  outline: none;
}
.modal {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  margin-top: 5px;
  width: fit-content;
  padding: 5px;
  font-size: 10px;
}
.modal-danger {
  background: rgb(212, 209, 209);
  color: red;
}
.modal-success {
  background: rgb(212, 209, 209);
  color: green;
}
.scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.taskadded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.taskadded .Backward_arrow {
  margin: 10px 5px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}